<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ACGCET DiscussHub</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style1.min.css" rel="stylesheet">

</head>


<style type="text/css">

.content {display:none;}
.preload { width:100px;
    height: 100px;
    position: fixed;
    top: 4%;
    left: 20%;}
.container1 {
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker1 {
    border-color: #ccc;
    background-color: white;
}

.container1::after {
    content: "";
    clear: both;
    display: table;
}

.container1 img {
    float: left;
    max-width: 65px;
    width: 80%;
    margin-right: 20px;
    border-radius: 50%;
}

.container1 img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

  .e{
    padding-left: 40%;
  }

  .t{
    padding-left: 4%;
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 15px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>

<body>
  <div class="preload"><img src="https://cdn.dribbble.com/users/594619/screenshots/2339770/full_speed.gif">
  </div>
  <div class="content">
    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="/projects/home" target="_blank">
                    <strong class="blue-text">THIRAN</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="#">About DiscussHub
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://accetosaweb.wordpress.com/" target="_blank">ACCETOSA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://app.zohocreator.com/mariappangameo/accetwallet#Student_Member_Registration" target="_blank">StartUp Wallet</a>
                        </li>
                         <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/projects/kbase">Knowledgebase</a>
                    <a class="dropdown-item" href="https://read.thiran.in">Blog</a>
                </div>
            </li>


                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="https://www.facebook.com/accetthiran" class="nav-link waves-effect" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/accetthiran?lang=en" class="nav-link waves-effect" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/Thiran2K18/Thiran2K18" class="nav-link border border-light rounded waves-effect"
                                target="_blank">
                                <i class="fa fa-github mr-2"></i>THIRAN GitHub
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->


         </header>
    <!--Main Navigation-->

    <main style="padding-top: 40px;">
    <div class="container" style="padding-top: 20px">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="http://fertstertforum.com/wp-content/uploads/2013/03/journal-club-live.jpg" class="img-fluid z-depth-1-half" alt="" width='470px' height='300px'>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-3 container">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Make better decisions with crowd collaboration.Reaching consensus has never been easier, with our integrated ideation and discussion platform</h3>
            <h5>Gather a wide range of ideas and opinions</h5>
            <p>Keep pushing your limits.</p><p>
              <strong>Cool, </strong> Create your 1st discussion in just seconds</p>
            <!-- Main heading -->
            <br><br><p>Never hesitate to share with us..</p>


          </div>

        </div>
        <!--Grid row-->
 <hr class="mb-5">
      </section>
  </div>
</main>


<div class="container">



<p style="text-align: center;font-family: serif;font-size: 30px;">Welcome to Thiran DiscussHub - A place to play with words..</p>
<p style="text-align: center;font-family: serif;font-size: 20px;text-decoration: underline;text-decoration-color: lightgray;">Read below conversation to grab the core idea of our platform</p>
<br><br>

<div class="body1">
<div class="container1">
  <img src="https://images.vexels.com/media/users/3/135152/isolated/lists/1ac657c4163afa80165adcfe2137fcba-signo-de-mensajer-a-con-el-fondo.png" alt="Avatar" style="width:100%;">
  <p class="p">Hip hop! A discussion forum?</p>
  <p class="p">What's cool in it yar?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container1 darker1">
  <img src="/img/chat.png" alt="Avatar" class="right" style="width:100%;">
  <p class="p1">Ahem! Never lose hope ):peee..</p>
  <p class="p1">Have you ever thought of sharing your views about your college administration directly,but left dumb by the fear of survival.Then this is the place where you could redefine standards..</p>


  <span class="time-left">11:01</span>
</div>

<div class="container1">
  <img src="https://images.vexels.com/media/users/3/135152/isolated/lists/1ac657c4163afa80165adcfe2137fcba-signo-de-mensajer-a-con-el-fondo.png" alt="Avatar" style="width:100%;">
  <p class="p1">Cool,could you please elaborate</p>
  <p class="p1">What is the actual idea?</p><p class="p1">How effective it would be?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container1 darker1">
  <img src="/img/chat.png" alt="Avatar" style="width:100%;">
  <p class="p1">Well,to be specific if a community is active enough,we can get everything from it at times needed.We rely on your participation and involvement.</p>
  <p class="p1">So that your never miss opportunities and unviel the fear of rising up.</p>

  <span class="time-left">11:05</span>
</div>



<div class="container1">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2xET23Wic7GWJOkSxYs05vE-SKl-nJV6tv2dA84r41vAPGdaX" alt="Avatar" style="width:100%;">
  <p class="p1">What if I wish to share negative comments or feedbacks?</p>
  <p class="p1">?</p>Is there any chance I may get into trouble right?<p class="p1">If so,how your forum help us?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container1 darker1">
  <img src="/img/chat.png" alt="Avatar" style="width:100%;">
  <p class="p1">Well,this is a open forum,where you have freedom to share your opinions and thoughts.</p>
  <p class="p1">You are always welcomed to stay ananymous too,but keep in mind we like to be a decent community.In case of any inappropriate discussions,actions will be taken and the post will be removed.</p>

  <span class="time-left">11:05</span>
</div>
<div class="container1">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2xET23Wic7GWJOkSxYs05vE-SKl-nJV6tv2dA84r41vAPGdaX" alt="Avatar" style="width:100%;">
  <p class="p1">Oh no!Then what's the big deal in talking about freedom,we are restricted right?</p>
  <p class="p1">How would you bridge us?</p><p class="p1">What else we could be benefitted?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container1 darker1">
  <img src="/img/chat.png" alt="Avatar" style="width:100%;">
  <p class="p1">Hey yar! Stop for a while,blowing me,weee!.I thing you can grab answer to this better by getting into it and experimenting with it..</p>
  <p class="p1">It's all about excitement :)peee</p>

  <span class="time-left">11:05</span>
</div>





</div>
<br><br>


</div>


  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="/forum/discusshub" target="_blank" role="button">Discuss Now ?
        <i class="fa fa-puzzle-piece" aria-hidden="true" style="padding-left: 5px;"></i>
      </a>
      <a class="btn btn-outline-white" href="/projects/contact" target="_blank" role="button">Reach us
        <i class="fa fa-heart" aria-hidden="true" style="padding-left: 5px;"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/accetthiran" target="_blank">
        <i class="fa fa-facebook mr-3"></i>
      </a>

      <a href="https://twitter.com/accetthiran?lang=en" target="_blank">
        <i class="fa fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/user/ACCETthiran" target="_blank">
        <i class="fa fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/116707854087495862030" target="_blank">
        <i class="fa fa-google-plus mr-3"></i>
      </a>


      <a href="https://github.com/Thiran2K18/Thiran2K18" target="_blank">
        <i class="fa fa-github mr-3"></i>
      </a>
<a href="https://www.linkedin.com/in/mariappan-s-82905613a/" target="_blank">
        <i class="fa fa-linkedin mr-3"></i>
      </a>
      <a href="https://www.instagram.com/thiran2k18/?hl=en" target="_blank">
        <i class="fa fa-instagram mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"> thiran.in </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
    $(function() {
        $(".preload").fadeOut(2000, function() {
            $(".content").fadeIn(1000);
        });
    });
   // Animations initialization
        new WOW().init();
    </script>
  </div>
</body>

</html>
