doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0')
  title Thiran - Creativity Redefined
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  // Import materialize.css
  // Compiled and minified CSS
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css')
  // Let browser know website is optimized for mobile
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
style(type='text/css').
nav.light-blue.lighten-1(role='navigation')
  .nav-wrapper.container
    a#logo-container.brand-logo(href='#')
      i.material-icons dashboard
      | Contact Us
    ul.right.hide-on-med-and-down
      li
        a(href='/projects/kbase' target='_blank') Knowledgebase
    ul#nav-mobile.sidenav
      li
        a(href='/projects/home')
          i.material-icons account_balance
          | THIRAN
      li
        a(href='/projects/codesuite' target='_blank')
          i.material-icons domain
          | CodeSuite
      li
        a(href='/projects/yetxplore#cloud' target="_blank")
          i.material-icons language
          | CloudRunz
      li
        a(href='/projects/yetxplore#dev' target="_blank")
          i.material-icons invert_colors
          | DevToolz
      li
        a(href='/projects/novicenet' target='_blank')
          i.material-icons network_check
          | NoviceNet
      li
        a(href='/projects/offlinides' target='_blank')
          i.material-icons library_books
          | Offlinides
      li
        a(href='/projects/codemate' target='_blank')
          i.material-icons graphic_eq
          | CodeMate
      li
        a(href='/forumhome' target='_blank')
          i.material-icons account_balance
          | DiscussHub Home
    a.sidenav-trigger(href='#' data-target='nav-mobile')
      i.material-icons menu
.container
  .col.s12.m7
    h4.header Have a query? Write to us!
    br
    .card.horizontal
      .card-stacked
        .card-content
          .row
            form.col.s12(method='POST' action='/projects/contact')
              .input-container.w-50.mx-auto
                #errors
                  if errors
                    ul(class='alert-error')
                      each error, i in errors
                        div(class="alert alert-danger") #{error} 
                  if success
                    div(class="alert alert-success" style="padding: 20px;background-color: #f8bbd0;color: black;margin-bottom: 15px;") #{success} 
                      a(href="/" style="background-color: #880e4f;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block;") Thiran home
                    
              .row
                .input-field.col.s12
                  i.material-icons.prefix face
                  textarea#icon_prefix1.materialize-textarea(name="username")
                  label(for='icon_prefix1') Your Name 
              .row
                .input-field.col.s12
                  i.material-icons.prefix contact_mail
                  input#email.validate(type='email', name='email', value=email)
                  label(for='email') Your email
              .row
                .input-field.col.s12
                  i.material-icons.prefix mode_edit
                  textarea#icon_prefix3.materialize-textarea(name="body")
                  label(for='icon_prefix3') Message
              .card-action
                .row.center
                  button.btn-large.waves-effect.waves-light.blue(type='submit') Submit Us
                  br
                  br
br
footer.page-footer.black
  .container
    .row
      .col.l6.s12
        h5.white-text Our Moto
        p.grey-text.text-lighten-4
          | When are really passionate about something, hoping miracle to happen will push ourself to explore more,widen our skills and just move on.If we are introvert to discover and experiment only then we fail.We hope this should never happen when paired with us..
      .col.l3.s12
        h5.white-text Utilities
        ul
          li
            a.white-text(href='/projects/codemate' target='_blank') CodeMate
          li
            a.white-text(href='/projects/offlinides' target='_blank') Offlinides
          li
            a.white-text(href='/projects/novicenet' target='_blank') NoviceNet
          li
            a.white-text(href='/forumhome' target='_blank') DiscussHub
      .col.l3.s12
        h5.white-text Connections
        ul
          li
            a.white-text(href='/projects/codesuite') CodeSuite
          li
            a.white-text(href='https://read.thiran.in') Blog
          li
            a.white-text(href='https://accetosaweb.wordpress.com/') ACCETOSA
          li
            a.white-text(href='https://app.zohocreator.com/mariappangameo/accetwallet#Student_Member_Registration') ACGCET startUp Wallet
  .footer-copyright
    .container
      | Made with love by 
      a.orange-text.text-lighten-3(href='/projects/contact') THIRAN webTeam
script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
// Compiled and minified JavaScript
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')
script(src='/js/init.js')
script(type='text/javascript').
  $(document).ready(function(){
  $('.modal').modal();
  $('.carousel').carousel();
  $('.collapsible').collapsible();
  $('.sidenav').sidenav();
