doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Thiran Survey - Share your opinions
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style(type='text/css').
      #loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('https://camo.githubusercontent.com/32c7c4a15e2ff3600f7e808f2f7997ece27cd572/687474703a2f2f692e696d6775722e636f6d2f484333613675332e676966') 50% 50% no-repeat white;
      }
  body
    #loader
    .content
      nav.light-blue.lighten-1(role='navigation')
        .nav-wrapper.container
          a#logo-container.brand-logo(href='/projects/yetexplore')
            i.material-icons dashboard
            | SurveyIt
          ul.right.hide-on-med-and-down
            li
              a(href='/projects/novicenet', target='_blank') DiscussHub
          ul#nav-mobile.sidenav
            li
              a(href='/')
                i.material-icons account_balance
                | THIRAN
            li
              a(href='/projects/codesuite', target='_blank')
                i.material-icons domain
                | CodeSuite
            li
              a(href='#cloudrunz')
                i.material-icons language
                | CloudRunz
            li
              a(href='#devtoolz')
                i.material-icons invert_colors
                | DevToolz
            li
              a(href='/projects/novicenet', target='_blank')
                i.material-icons network_check
                | NoviceNet
            li
              a(href='/projects/offlinides', target='_blank')
                i.material-icons library_books
                | Offlinides
            li
              a(href='/projects/codemate', target='_blank')
                i.material-icons graphic_eq
                | CodeMate
            li
              a(href='/projects/codemate', target='_blank')
                i.material-icons account_balance
                | DiscussHub Home
          a.sidenav-trigger(href='#', data-target='nav-mobile')
            i.material-icons menu
      .container
        .col.s12.m7
          h4.header Hey cool,great job! Only few more in the basket...
          br
          h6.header
            | Zia want's you to express your thoughts with the same spirit,let's march fast..weee!
          br
          br
        .row
          .form-content
            form.col.s12(method='POST', action='/projects/student_survey_page3')
              .input-container.w-50.mx-auto
                #errors
                  if errors
                    ul(class='alert-error')
                      each error, i in errors
                        div(class="alert alert-danger") #{error} 
                  if success
                    div(class="alert alert-success" style="padding: 20px;background-color: #f8bbd0;color: black;margin-bottom: 15px;") #{success} 
                      a(href="/" style="background-color: #880e4f;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block;") Thiran home
                    
              ul.collapsible
                li.active
                  .collapsible-header
                    i.material-icons place
                    | What kind of perks/token of appreciation do you expect for winners?
                  .collapsible-body
                    span
                      label
                        input.with-gap(name='perks', type='radio', value='job')
                        span Job offers
                      label
                        input.with-gap(name='perks', type='radio', checked='', value='Internships')
                        span Internships
                      label
                        input.with-gap(name='perks', type='radio', value='Free trainings')
                        span Free trainings
                      label
                        input.with-gap(name='perks', type='radio', value='Cash')
                        span Cash awards/scholarships
                      label
                        input.with-gap(name='perks', type='radio', value='Books')
                        span Books and accesories
                li
                  .collapsible-header
                    i.material-icons filter_drama
                    | What is your expected duration for completing your projects ?
                  .collapsible-body
                    span
                      label
                        input.with-gap(name='duration', type='radio', checked='', value='3')
                        span 3 months
                      label
                        input.with-gap(name='duration', type='radio', value='2')
                        span 2 months
                      label
                        input.with-gap(name='duration', type='radio', value='4')
                        span 4 months
                      label
                        input.with-gap(name='duration', type='radio', value='3 and half')
                        span 3 and half
                      label
                        input.with-gap(name='duration', type='radio', value='2 and half')
                        span 2 and half
                li
                  .collapsible-header
                    i.material-icons whatshot
                    | How much support are you getting from the college side for your projects/thiran activities?
                  .collapsible-body
                    span
                      p.range-field
                        input#test5(type='range', min='0', max='100', name='college_support')
                      | Rate us in percentage(per 100%)
              ul.collapsible
                li.active
                  .collapsible-header
                    i.material-icons filter_drama
                    | Do you feel like thiran activities affects/not helpful to your academics?
                  .collapsible-body
                    span
                      .switch
                        label
                          | No
                          input(type='checkbox', name='affect')
                          span.lever
                          |       Yes
                li
                  .collapsible-header
                    i.material-icons filter_drama
                    | Do you feel like thiran needs to more active in terms of duration?
                  .collapsible-body
                    span
                      .switch
                        label
                          | No
                          input(type='checkbox', name='active_duration')
                          span.lever
                          |       Yes
                li
                  .collapsible-header
                    i.material-icons filter_drama
                    | Do you want us to provide academic support little more better?
                  .collapsible-body
                    span
                      .switch
                        label
                          | No
                          input(type='checkbox', name='academic_support')
                          span.lever
                          |       Yes
              ul.collapsible
                li.active
                  .collapsible-header
                    i.material-icons whatshot
                    | Rate us interms of placement related helps offered?
                  .collapsible-body
                    span
                      p.range-field
                        input#test5(type='range', min='0', max='100', name='placements_related_perks')
                      | Rate us in percentage(per 100%)
                li
                  .collapsible-header
                    i.material-icons whatshot
                    | Rate our events and trainings based on your experience?
                  .collapsible-body
                    span
                      p.range-field
                        input#test5(type='range', min='0', max='100', name='events_trainings')
                      | Rate us in percentage(per 100%)
                li
                  .collapsible-header
                    i.material-icons whatshot
                    | Rate us based on the funds provided for college development?
                  .collapsible-body
                    span
                      p.range-field
                        input#test5(type='range', min='0', max='100', name='funds_by_college')
                      | Rate us in percentage(per 100%)
              .card-action
                .row.center
                  button.btn-large.waves-effect.waves-light.blue(type='submit') Submit
                  br
                  br
              br
    footer.page-footer.black
      .container
        .row
          .col.l6.s12
            h5.white-text Our Moto
            p.grey-text.text-lighten-4
              | When are really passionate about something, hoping miracle to happen will push ourself to explore more,widen our skills and just move on.If we are introvert to discover and experiment only then we fail.We hope this should never happen when paired with us..
          .col.l3.s12
            h5.white-text Utilities
            ul
              li
                a.white-text(href='/projects/codemate', target='_blank') CodeMate
              li
                a.white-text(href='/projects/offlinides', target='_blank') Offlinides
              li
                a.white-text(href='/projects/novicenet', target='_blank') NoviceNet
              li
                a.white-text(href='/explore', target='_blank') DiscussHub
          .col.l3.s12
            h5.white-text Connections
            ul
              li
                a.white-text(href='#!') CodeSuite
              li
                a.white-text(href='#!') Blog
              li
                a.white-text(href='#!') ACCETOSA
              li
                a.white-text(href='#!') ACGCET startUp Wallet
      .footer-copyright
        .container
          | Made with love by 
          a.orange-text.text-lighten-3(href='http://materializecss.com') THIRAN webTeam
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')
    script(src='js/init.js')
    script(type='text/javascript').
      setTimeout(function() {
      fullyLoaded();
      }, 1000);
      function fullyLoaded() {
      $("#loader").fadeOut("slow");
      }
      $(document).ready(function(){
      $('.modal').modal();
      $('.carousel').carousel();
      $('.collapsible').collapsible();
      $('select').formSelect();
      });
