doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Thiran Accounts
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    //link(href='css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    //link(href='css/mdb.min.css', rel='stylesheet')
    // Your custom styles (optional)
    //link(href='css/style.css', rel='stylesheet')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
  style(type='text/css').
    .Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    }
    .Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
    }
    .c1{
    font-weight:400;
    color: #212121;
    }
    .c2{
    color: #1C2331;
    }
    body{
      font-family:Roboto;
    }
  body
    // Start your project here
    html.full-height(lang='en')
      body
        .container
          // Material form login
          .card-body
            img(src="/img/logo.png" class="img-fluid mx-auto d-block" alt="Responsive image" width='300px' height='250px')
            form(method='POST', action='/users/login')
              p.h3.text-center.mb-4.c1 One Account. Get linked with all our utilities
              hr(align='center', width='30%')
              p.h4.text-center.mb-4.c2.font-weight-light Sign In to access Thiran Home
              .input-container.w-50.mx-auto
                #errors
                  if errors
                    ul(class='alert-error')
                      each error, i in errors
                        div(class="alert alert-danger") #{error} 
                // Material input email
                .md-form
                  i.fa.fa-user.prefix.grey-text(aria-hidden='true')
                  input#materialFormLoginEmailEx.form-control(type='text',name='username')
                  label(for='materialFormLoginEmailEx') Username
                // Material input password
                .md-form
                  i.fa.fa-lock.prefix.grey-text
                  input#materialFormLoginPasswordEx.form-control(type='password',name='password')
                  label(for='materialFormLoginPasswordEx') Password
              .text-center.mt-4
                button.btn.btn-default(type='submit' value='Submit') Login
              p(style='text-align: center;') Or
              hr(align='rigth', width='30%')
              div(align='center')
                a(href='/users/google') Sign In with Google
                p(style='text-align: center;color:#1C2331') Don't have a Thiran account?
                a(href='/users/register') Sign Up now
            // Material form login
    // /Start your project here
    // SCRIPTS
    // JQuery
    //script(src='/js/main.js')  
    //script(type='text/javascript', src='js/jquery-3.3.1.min.js')
    // Bootstrap tooltips
    //script(type='text/javascript', src='js/popper.min.js')
    // Bootstrap core JavaScript
    //script(type='text/javascript', src='js/bootstrap.min.js')
    // MDB core JavaScript
    //script(type='text/javascript', src='js/mdb.min.js')
    // JQuery
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js')
