doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Thiran Survey - Share your opinions
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style(type='text/css').
      #loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('https://camo.githubusercontent.com/32c7c4a15e2ff3600f7e808f2f7997ece27cd572/687474703a2f2f692e696d6775722e636f6d2f484333613675332e676966') 50% 50% no-repeat white;
      }
  body
    #loader
    .content
      nav.light-blue.lighten-1(role='navigation')
        .nav-wrapper.container
          a#logo-container.brand-logo(href='/projects/yetexplore')
            i.material-icons dashboard
            | SurveyIt
          ul.right.hide-on-med-and-down
            li
              a(href='/projects/novicenet', target='_blank') DiscussHub
          ul#nav-mobile.sidenav
            li
              a(href='/')
                i.material-icons account_balance
                | THIRAN
            li
              a(href='/projects/codesuite', target='_blank')
                i.material-icons domain
                | CodeSuite
            li
              a(href='#cloudrunz')
                i.material-icons language
                | CloudRunz
            li
              a(href='#devtoolz')
                i.material-icons invert_colors
                | DevToolz
            li
              a(href='/projects/novicenet', target='_blank')
                i.material-icons network_check
                | NoviceNet
            li
              a(href='/projects/offlinides', target='_blank')
                i.material-icons library_books
                | Offlinides
            li
              a(href='/projects/codemate', target='_blank')
                i.material-icons graphic_eq
                | CodeMate
            li
              a(href='/projects/codemate', target='_blank')
                i.material-icons account_balance
                | DiscussHub Home
          a.sidenav-trigger(href='#', data-target='nav-mobile')
            i.material-icons menu
      .container
        .col.s12.m7
          h4.header Please share some basic details for better understanding..
          br
          .card.horizontal
            .card-stacked
              .card-content
                .row
                  form.col.s12(method='POST', action='/projects/alumni_survey_page1')
                    .row
                      .input-field.col.s12
                        i.material-icons.prefix face
                        textarea#icon_prefix1.materialize-textarea(name='name_a')
                        label(for='icon_prefix1') Your Name 
                    .row
                      .input-field.col.s6
                        select#dep(name='domain_of_job')
                          option(value='', disabled='', selected='') Domain/work
                          option(value='1') Software
                          option(value='2') Government sector
                          option(value='3') Non IT -private sectors
                          option(value='4') MBA
                          option(value='5') Civil services aspirant
                          option(value='6') ME/MS
                          option(value='7') OTHERS
                        label Home of your passion
                      .input-field.col.s6
                        .input-field.col.s12
                          i.material-icons.prefix add_circle_outline
                          select#yearpicker(name='year_of_passout')
                          label Year of passout
                    .row
                      .input-field.col.s12
                        i.material-icons.prefix textsms
                        input#autocomplete-input.autocomplete(type='text', name='country', autocomplete='off')
                        label(for='autocomplete-input') Country
                    .row
                      .input-field.col.s6
                        i.material-icons.prefix chat
                        textarea#icon_prefix3.materialize-textarea(name='phoneno_a')
                        label(for='icon_prefix3') PhoneNo
                      .input-field.col.s6
                        i.material-icons.prefix contact_mail
                        textarea#icon_prefix4.materialize-textarea(name='email_a')
                        label(for='icon_prefix4') Email
                    .card-action
                      .row.center
                        button.btn-large.waves-effect.waves-light.blue(type='submit') Jump to next
                        br
                        br
      br
      footer.page-footer.black
        .container
          .row
            .col.l6.s12
              h5.white-text Our Moto
              p.grey-text.text-lighten-4
                | When are really passionate about something, hoping miracle to happen will push ourself to explore more,widen our skills and just move on.If we are introvert to discover and experiment only then we fail.We hope this should never happen when paired with us..
            .col.l3.s12
              h5.white-text Utilities
              ul
                li
                  a.white-text(href='/projects/codemate', target='_blank') CodeMate
                li
                  a.white-text(href='/projects/offlinides', target='_blank') Offlinides
                li
                  a.white-text(href='/projects/novicenet', target='_blank') NoviceNet
                li
                  a.white-text(href='/explore', target='_blank') DiscussHub
            .col.l3.s12
              h5.white-text Connections
              ul
                li
                  a.white-text(href='#!') CodeSuite
                li
                  a.white-text(href='#!') Blog
                li
                  a.white-text(href='#!') ACCETOSA
                li
                  a.white-text(href='#!') ACGCET startUp Wallet
        .footer-copyright
          .container
            | Made with love by 
            a.orange-text.text-lighten-3(href='http://materializecss.com') THIRAN webTeam
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js')
    script(src='js/init.js')
    script(type='text/javascript').
      for (i = new Date().getFullYear(); i > 1900; i--)
      {
      $('#yearpicker').append($('<option />').val(i).html(i));
      }
      setTimeout(function() {
      fullyLoaded();
      }, 1000);
      function fullyLoaded() {
      $("#loader").fadeOut("slow");
      }
      $(document).ready(function(){
      $('.modal').modal();
      $('.carousel').carousel();
      $('.collapsible').collapsible();
      $('select').formSelect();
      });
      $(document).ready(function(){
      $('input.autocomplete').autocomplete({
      data: {
      "Afghanistan":null,
      "Albania":null,"Algeria":null,"Andorra":null,"Angola":null,"Anguilla":null,"Antigua &amp; Barbuda":null,"Argentina":null,"Armenia":null,"Aruba":null,"Australia":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Austria":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Azerbaijan":null,"Bahamas":null,"Bahrain":null,"Bangladesh":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Barbados":null,"Belarus":null,"Belgium":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Belize":null,"Benin":null,"Bermuda":null,"Bhutan":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Bolivia":null,"Bosnia &amp; Herzegovina":null,"Botswana":null,"Brazil":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"British Virgin Islands":null,"Brunei":null,"Bulgaria":null,"Burkina Faso":null,"Burundi":null,"Cambodia":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Cameroon":null,"Cape Verde":null,"Cayman Islands":null,"Chad":null,"Chile":null,"China":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Colombia":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Congo":null,"Cook Islands":null,"Costa Rica":null,"Cote D Ivoire":null,"Croatia":null,"Cruise Ship":null,"Cuba":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Cyprus":null,"Czech Republic":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Denmark":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Djibouti":null,"Dominica":null,"Dominican Republic":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Ecuador":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Egypt":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"El Salvador":null,"Equatorial Guinea":null,"Estonia":null,"Ethiopia":null,"Falkland Islands":null,"Faroe Islands":null,"Fiji":null,"Finland":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"France":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"French Polynesia":null,"French West Indies":null,"Gabon":null,"Gambia":null,"Georgia":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Germany":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Ghana":null,"Gibraltar":null,"Greece":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Greenland":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Grenada":null,"Guam":null,"Guatemala":null,"Guernsey":null,"Guinea":null,"Guinea Bissau":null,"Guyana":null,"Haiti":null,"Honduras":null,"Hong Kong":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Hungary":null,"Iceland":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"India":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Indonesia":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Iran":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Iraq":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Ireland":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Isle of Man":null,"Israel":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Italy":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Jamaica":null,"Japan":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Jersey":null,"Jordan":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Kazakhstan":null,"Kenya":null,"Kuwait":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Kyrgyz Republic":null,"Laos":null,"Latvia":null,"Lebanon":null,"Lesotho":null,"Liberia":null,"Libya":null,"Liechtenstein":null,"Lithuania":null,"Luxembourg":null,"Macau":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Macedonia":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Madagascar":null,"Malawi":null,"Malaysia":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Maldives":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Mali":null,"Malta":null,"Mauritania":null,"Mauritius":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Mexico":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Moldova":null,"Monaco":null,"Mongolia":null,"Montenegro":null,"Montserrat":null,"Morocco":null,"Mozambique":null,"Namibia":null,"Nepal":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Netherlands":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Netherlands Antilles":null,"New Caledonia":null,"New Zealand":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Nicaragua":null,"Niger":null,"Nigeria":null,"Norway":null,"Oman":null,"Pakistan":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Palestine":null,"Panama":null,"Papua New Guinea":null,"Paraguay":null,"Peru":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Philippines":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Poland":null,"Portugal":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Puerto Rico":null,"Qatar":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Reunion":null,"Romania":null,"Russia":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Rwanda":null,"Saint Pierre &amp; Miquelon":null,"Samoa":null,"San Marino":null,"Satellite":null,"Saudi Arabia":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Senegal":null,"Serbia":null,"Seychelles":null,"Sierra Leone":null,"Singapore":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Slovakia":null,"Slovenia":null,"South Africa":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"South Korea":null,"Spain":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Sri Lanka":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"St Kitts &amp; Nevis":null,"St Lucia":null,"St Vincent":null,"St. Lucia":null,"Sudan":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Suriname":null,"Swaziland":null,"Sweden":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Switzerland":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Syria":null,"Taiwan":null,"Tajikistan":null,"Tanzania":null,"Thailand":null,"Timor L'Este":null,"Togo":null,"Tonga":null,"Trinidad &amp; Tobago":null,"Tunisia":null,"Turkey":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Turkmenistan":null,"Turks &amp; Caicos":null,"Uganda":null,"Ukraine":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"United Arab Emirates":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"United Kingdom":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Uruguay":null,"Uzbekistan":null,"Venezuela":null,"Vietnam":'https://www.utalkphil.com/assets/website_resource/images/loading.gif',"Virgin Islands (US)":null,"Yemen":null,"Zambia":null,"Zimbabwe":null
      },
      });
      });
